@model StudentManagmentSystem.Models.Student
@{
    ViewBag.Title = "Edit";
    Layout = "~/Shared/_LayoutPage1.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("edit", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="form-row">
        <div class="form-group col-md-5">
            @Html.LabelFor(temp => temp.FullName)
            @Html.TextBoxFor(temp => temp.FullName, Model.FullName, new { @class = "form-control" })
            @Html.HiddenFor(temp => temp.StudentID, Model.StudentID)

        </div>
        <div class="form-group col-md-5">
            @Html.LabelFor(temp => temp.UserID)
            @Html.TextBoxFor(temp => temp.UserID, Model.UserID, new { @class = "form-control" })

        </div>
    </div>
    <div class="form-row">

        <div class="form-group  col-md-5">
            @Html.LabelFor(temp => temp.EmailID)
            @Html.TextBoxFor(temp => temp.EmailID, Model.EmailID, new { @class = "form-control" })

        </div>
        <div class="form-group  col-md-5">
            @Html.LabelFor(temp => temp.DateOFBirth)
            @Html.TextBoxFor(temp => temp.DateOFBirth, Model.DateOFBirth.Value.ToString(), new { @class = "form-control" })

        </div>
    </div>
    <div class="form-group  col-md-5">
        @Html.LabelFor(temp => temp.Gender)
        @if (Model.Gender == "Male" || Model.Gender == "male")
        {
            @Html.RadioButtonFor(temp => temp.Gender, "Male", new { @checked = true, @class = "form-check-input" })
            @Html.Label("Male")
            @Html.RadioButtonFor(temp => temp.Gender, "Female", new { @class = "form-check-input" })
            @Html.Label("Female")
        }
        else
        {
            @Html.RadioButtonFor(temp => temp.Gender, "Female", new { @checked = true, @class = "form-check-input" })
            @Html.Label("Female")
            @Html.RadioButtonFor(temp => temp.Gender, "Female", new { @class = "form-check-input" })
            @Html.Label("Male")
        }
        @*@Html.TextBoxFor(temp => temp.Gender, Model.Gender, new { @class = "form-control" })*@



    </div>
    <div class="form-group  col-md-5">
        @Html.LabelFor(temp => temp.Address)
        @Html.TextBoxFor(temp => temp.Address, Model.Address, new { @class = "form-control" })

    </div>
    <div class="form-group  col-md-5">
        @Html.LabelFor(temp => temp.PhoneNo)
        @Html.TextBoxFor(temp => temp.PhoneNo, Model.PhoneNo, new { @class = "form-control" })

    </div>
    <div class="form-row">
        <div class="form-group  col-md-5">



            @Html.LabelFor(temp => temp.PreviousQualification)
            @Html.DropDownListFor(temp => temp.PreviousQualification, new List<SelectListItem>() {
           new SelectListItem { Text = "BCS", Value = "BCS" },
           new SelectListItem { Text = "BCA", Value = "BCA" },
            new SelectListItem { Text = "12th", Value = "12th" },
            new SelectListItem { Text = "Diploma", Value = "Diploma" } },
            
           Model.PreviousQualification, new { @class = "form-control" })

        </div>
        </div>




        <div class="form-row">
            <div class="form-group  col-md-5">
                @Html.LabelFor(temp => temp.Course)
                @Html.DropDownListFor(temp => temp.Course, new SelectList(ViewBag.course, "CourseID", "CourseName"), Model.Course.CourseName, new { @class = "form-control" })

            </div>

            @*<div class="form-group  col-md-5">
                <label>Photo</label>
                <img src="@Url.Content(Model.Photo)" height="70" width="100" />
                <input type="file" name="Photo" />
            </div>*@


        </div>



        <button type="submit" class="btn btn-success">Update</button>
        <a href="/Product/Index" class="btn btn-danger">Cancel</a>

        }


