@model EntityFrameworkExample.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Details</h2>
<table class="table">
    <tr>
        <td>ProductID</td>
        <td>@Model.ProductID</td>
    </tr>
    <tr>
        <td>ProductName</td>
        <td>@Model.ProductName</td>
    </tr>
    <tr>
        <td>Price</td>
        <td>
            @if (Model.Price.HasValue)
            {
                <span>@Model.Price.Value.ToString("c")</span>
            }

            
        </td>
    </tr>
    <tr>
        <td>DateOfPurchase</td>
        <td>
            @if (Model.DateOfPurchase.HasValue)
            {
                <span>@Model.DateOfPurchase.Value.ToString("d/M/yyyy")</span>
            }


            
        </td>
    </tr>
    <tr>
        <td>AvailabilityStatus</td>
        <td>@Model.AvailabilityStatus</td>
    </tr>
    <tr>
        <td>CatagoryID</td>
        <td>
            @if (Model.Catagory != null)
            {
            <span>@Model.Catagory.CatagoryName</span>
            }
            </td>
        </tr>
    <tr>
        <td>BrandID</td>
        <td>
        @if (Model.Brand != null)
        {
            <span>@Model.Brand.BrandName</span>
        }
        </td>
    </tr>
    <tr>
        <td>Active</td>
        <td>@Model.Active</td>
    </tr>
    
</table>

<a href="/product/Index">Back To Products</a>

